html{
  height: -webkit-fill-available;
}

.main {
  padding: 16px;
}

.section {
  margin: 16px 0 0;

  &:first-child {
    margin: 0;
  }
}

.select {
  display: flex;
  align-items: center;
}

@media only screen and (max-width:600px) {
  body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  .main {
    padding: 8px;
    height: 100vh;
    overflow: hidden;
  }
}
