.wrapper {
  position: relative;
}

.inputWrapper {
  display: inline-flex;
  position: relative;

  &::after {
    font-family: "Material Icons";
    content: "\e8b6";
    color: #666;
    font-size: 28px;
    position: absolute;
    right: 12px;
    top: 12px;
  }
}

.input {
  width: 240px;
  padding: 16px;
  border: 1px solid #999;
  border-radius: 3px;

  &::placeholder {
    color: #999;
  }

  &:active {
    border: 1px solid #666;
  }
}

.result {
  padding: 16px;
  width: 100%;
  min-height: auto;
  background-color: #fff;
  box-shadow: 0px 10px 10px 2px #ccc;
  position: absolute;
  z-index: 10;
  border-radius: 3px;
  transform: translateY(8px);
  opacity: 1;
  visibility: visible;
  transition: .3s;
}

.isHide {
  min-height: 0;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width:600px) {
  .wrapper {
    width: 100%;
  }

  .inputWrapper {
    display: block;
  }

  .input {
    width: 100%;
  }
}
