.wrapper {
  position: relative;
}

.isDisabled {
  background-color: #ccc;
  pointer-events: none;
  cursor: not-allowed;

  span {
    color: #666
  }
}

.selected {
  padding: 16px 8px;
  width: 320px;
  border-radius: 3px;
  border: 1px solid #999;
  cursor: pointer;
  transition: .3s;

  &:hover {
    border: 1px solid #666;
  }
}

.select {
  width: 320px;
  max-height: 240px;
  overflow: scroll;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #999;
  position: absolute;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transform: translateY(4px);
  transition: .3s;
}

.isHide {
  height: 0;
  opacity: 0;
  transform: translateY(-4px);
  visibility: hidden;
}

.item {
  padding: 16px 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: #666;
  }

  &:last-child {
    border: none;
  }
}