.wrapper {
  position: relative;
}

.selected {
  padding: 16px 8px;
  width: 320px;
  border-radius: 3px;
  border: 1px solid #999;
  cursor: pointer;
  transition: .3s;
}

.select {
  width: 320px;
  height: 240px;
  overflow: scroll;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #999;
  position: absolute;
  opacity: 1;
  visibility: visible;
  transform: translateY(4px);
  transition: .3s;
}

.isHide {
  height: 0;
  opacity: 0;
  transform: translateY(-4px);
  visibility: hidden;
}

.item {
  padding: 16px 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;

  &:last-child {
    border: none;
  }
}